/*FONT IMPORT*/
@import url('https://fonts.googleapis.com/css?family=Advent+Pro');

body{
  background-color: #91A8d0;
}

a {
  font-family: Advent Pro,sans-serif;
}

/* id="" */
#centered {
  border-width: thick;
  text-align: center;
  margin:auto;
  font-family: Advent Pro,sans-serif;
}

/* class="" */
.title{
  width: 1000;
  border:2px;
  border-radius: 25px;
  border-style: dashed;
  border-color: #FFF8d0;
  background-color: #91Afff;
  padding: 25px;
  margin: auto;
}

.links {

}
